body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */

header {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
   align-items: center;
    justify-content: center;
    justify-items: center;
}

a {
  text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.h1-greeting {
  text-align: center;
}

.barra-footer {
    background-color: #309ca1;
    padding-bottom: 2rem;
}

.estilos-nav {
    display: flex;
    gap: 5rem;
    
}

.img-carrito {
    width: 50px;
    height: 50px;
    margin-top: 2rem;
    cursor: pointer;
}

.display-contador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.h1-centrado {
  text-align: center;
}

.parrafo-contador {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(182, 38, 38);
    margin-left: 1rem;
    margin-right: 1rem;
}

.boton-contador {
    background-color: #309ca1;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: auto;
}

.boton-operacion {
    background-color: #309ca1;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}